# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches de ANTLR (opcional ignorar .interp o mantenerlos)
# *.interp
# *.tokens

# Entornos virtuales
venv/
.venv/
env/

# IDEs
.vscode/
.idea/
*.swp
